html, body, main, div, p, form, ul, i,
input, h2, label, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: 'Raleway', Arial;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1666666666;
  background: #fff;
  color: #000;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

h1 {
  width: 400px;
  text-align: center;
  font-size: 28px;
  margin: 10px;
}

h2 {
  font-size: 20px;
  margin: 10px;
}

div.post-component {
  float: left;
  margin: 30px;
}

div.preview-component {
  width: 400px;
  display: block;
  margin: 10px;
  margin-top: 30px;
}

label.post {
  margin: 10px;
  display: block;
}

input {
  padding: 5px 10px;
  margin: 10px;
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 400px;
}

textarea {
  padding: 5px 10px;
  margin: 10px;
  display: block;
  width: 400px;
  height: 200px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.button-list {
  margin: 10px;
  width: 420px;
}

.button-item {
  float: right;
  margin-left: 10px;
}

button.post-button {
  font-family: 'Raleway', Arial;
  border-radius: 5px;
  width: 75px;
  font-size: 14px;
  color: #fff;
  background: #333;
}

button.post-button:hover {
  cursor: pointer;
  color: #333;
  background: #fff;
}

.post-list-item {
  padding: 15px;
  border: 1px solid #000;
  margin: 10px;
  width: 400px;
}

p.post-body {
  margin: 10px;
}
